#cambia aqui tu password
DB_SA_PASSWORD=pon-una-password-aqui

#aqui tambien pon tu password
CONNECTION_STRING=Server=db;Database=BD_CosechaClima;User=sa;Password=pon-una-password-aqui;TrustServerCertificate=True;

JWT_ISSUER=CosechaClimaAuth
JWT_AUDIENCE=CosechaClimaUsers

JWT_SECRET_KEY=pon-aqui-una-clave-secreta-y-larga-minimo-32-caracteres

# 24horas vida del token
JWT_DURATION_MINUTES=1440

ADMIN_SEED_TELEFONO=
ADMIN_SEED_PIN=
ADMIN_SEED_NOMBRE=Admin

#puerto del frontend, ponlo aqui
CORS_ALLOWED_ORIGIN=
