# bd de sql server
DB_SA_PASSWORD=cambiarestaclave

# db es el nombre del servicio dentro de docker-compose no localhost
CONNECTION_STRING=Server=db;Database=BD_CosechaClima;User Id=sa;Password=cambiarestaclave;TrustServerCertificate=True;

# autenticacion
JWT_ISSUER=CosechaClimaAPI
JWT_AUDIENCE=CosechaClimaApp
JWT_SECRET_KEY=generarunaclaveaqui
JWT_DURATION_MINUTES=1440

# entorno de ejecucion
ASPNETCORE_ENVIRONMENT=Development