# para ejecutar la app usa
#   flutter run --dart-define-from-file=.env
#   flutter build apk --release --dart-define-from-file=.env

# debes poner la url de la api si no no te dejara ejecutar o sea es obligatorio
API_URL=

# pon el clientid de web de google, si lo dejas vacio la app solo oculta el boton de iniciar sesion de google xd
GOOGLE_SERVER_CLIENT_ID=
